:root {
    --black: #171321;
    --white: #F8F9FA;
    --one: #E9ECEF;
    --two: #DEE2E6;
    --three: #CED4DA;
    --four: #ADB5BD;
    --five: #6C757D;
    --six: #495057;
    --seven: #343A40;
    --eight: #212529;


    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Noto Serif JP', serif;
    background-color: black;
}